.bottom-bar {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4cffffff,endColorstr=#4cffffff);
}

.index-menu .navigate-part1 {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/index-navigate-part1.png',sizingMethod='scale');

  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/index-navigate-part1.png',sizingMethod='scale')";
}