html, body {
  height: 100%;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
}

a, a:hover, a:active, a:focus {
  color: #fff;
  text-decoration: underline;
}

body.index {
  background-image: url("../img/bg_body_index_1300.jpg");
}

body.part2 {
  background-image: url("../img/bg_body_part2_1300.jpg");
}

body.part1 {
  background-image: url("../img/bg_body_part1_1300.jpg");
}

@media only screen and (min-width: 1400px) {
  body.index {
    background-image: url("../img/bg_body_index_1400.jpg");
  }

  body.part2 {
    background-image: url("../img/bg_body_part2_1400.jpg");
  }

  body.part1 {
    background-image: url("../img/bg_body_part1_1400.jpg");
  }
}

@media only screen and (min-width: 1900px) {
  body.index {
    background-image: url("../img/bg_body_index_1900.jpg");
  }

  body.part2 {
    background-image: url("../img/bg_body_part2_1900.jpg");
  }

  body.part1 {
    background-image: url("../img/bg_body_part1_1900.jpg");
  }
}

.anniversary-logo {
  position: absolute;
  height: 100%;
  width: 50%;
}

.anniversary-logo .years-big {
  position: absolute;
  height: 40%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../img/20_big.png");
  /*TODO: Заставить работать в IE*/
  background-size: 50% auto;
  left: 0;
  top: 0;
}

.anniversary-logo .anniversary-text-big {
  position: absolute;
  height: 40%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 20px;
  background-image: url("../img/anniversary-text-big.png");
  /*TODO: Заставить работать в IE*/
  background-size: 50% auto;
  left: 0;
  bottom: 20%;
}

.anniversary-logo h1 {
  position: absolute;
  text-indent: -8000px;
}

#content-index {
  height: 100%;
}

.russia-coat-of-arms {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background-repeat: no-repeat;
  /*TODO: Заставить работать в IE*/
  background-size: 50% auto;
  background-position: right center;
  background-image: url("../img/russia_coat_of_arms.png");
}

.index-menu {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 20%;
  cursor: pointer;
}

.index-menu .navigate-part1 {
  position: absolute;
  left: 0;
  width: 48%;
  padding-right: 2%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("../img/index-navigate-part1.png");
  /*TODO: Заставить работать в IE*/
  background-size: 60% auto;
}

.index-menu .navigate-part2 {
  position: absolute;
  left: 50%;
  width: 48%;
  padding-left: 2%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../img/index-navigate-part2.png");
  /*TODO: Заставить работать в IE*/
  background-size: 60% auto;
}

#content-part1,
#content-part2 {
  display: none;
}

.bottom-bar {
  position: absolute;
  height: 15%;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,0.5);
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../img/bg_bottom_bar.png");
  /*TODO: Заставить работать в IE*/
  background-size: auto 90%;
  color: #fff;
}

.bottom-bar .current-part-name {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center bottom;
  /*TODO: Заставить работать в IE*/
  background-size: auto 90%;
}

.bottom-bar .next-part-name {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 35%;
  left: 0;
  bottom: 0;
  text-align: center;
}

.bottom-bar .goToIndex {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 5%;
}

#content-part1 .current-part-name {
  background-image: url("../img/bottom_bar__header_part1.png");
}

#content-part2 .current-part-name {
  background-image: url("../img/bottom_bar__header_part2.png");
}

.part-text-wrapper {
  position: absolute;
  margin-top: 3%;
  width: 100%;
  height: 77%;
  left: -5%;
  position: absolute;
  overflow: hidden;
}

.part-text {
  overflow: auto;
  width: 110%;
  height: 100%;
  color: #fff;
}

.docs {
  text-align: center;
  padding-bottom: 20pt;
}

.docs .caption {
  font-style: italic;
  font-weight: bold;
}

.docs ul.list {
  list-style: none;
  padding-left: 0;
}

.docs ul.list li {
  display: inline-block;
  padding: 2pt;
}

#loader-screen {
  position: absolute;
  position: fixed;
  background-color: #000;
  min-height: 100%;
  width: 100%;
  z-index: 9998;
  background-image: url("../img/loader.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#loader-screen p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1em;
  font-family: 'Open Sans Condensed', 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: #fff;
}